.outerContainer {
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 80vw;
  margin: 2vh auto;
}
